@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: white;
}

a {
  @apply text-blue-900;
}

@layer components {
  .btn-primary {
    @apply text-white bg-blue-500 p-2 hover:bg-blue-700;
  }

  .btn-secondary {
    @apply text-white bg-gray-500 p-2 hover:bg-gray-700;
  }

  input[type='text'],
  input[type='password'] {
    @apply text-black py-2 outline-none border-gray-500 border-2 active:border-blue-500 focus:border-blue-500;
  }
}
